@model PIU.Models.Estudiante

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <form asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="Foto" type="hidden" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 text-left">
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary boton-lista">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        Volver
                    </a>
                </div>
                <div class="col-md-8">
                    <h3 class="titulo-card">Editar información del estudiante</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div id="info" disable=""></div>
                    <div id="preview" style="height: 200px">
                        <img src="~/@Model.Foto" class="img-circle-details img-responsive">
                    </div>
                    <br />
                    <p>
                        <strong>Nombre</strong><br>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </p>
                    <p>
                        <strong>Apellido Paterno</strong><br>
                        <input asp-for="ApellidoPaterno" class="form-control" />
                        <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                    </p>
                    <p>
                        <strong>Apellido Materno</strong><br>
                        <input asp-for="ApellidoMaterno" class="form-control" />
                        <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <p>
                        <i class="fas fa-id-card"></i>
                        <strong>RUT</strong><br>
                        <input asp-for="Rut" id="Rut" class="form-control" oninput="formatRut(this)" minlength="11" maxlength="12" />
                        <span asp-validation-for="Rut" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="fas fa-venus-mars"></i>
                        <strong>Género</strong><br>
                        <small>Si no encuentras el género, ¡puedes crearlo <a href="/Generoes/Create/">aquí</a>!</small>
                    <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId"></select>
                        <span asp-validation-for="GeneroId" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        <strong>Número de celular</strong><br>
                        <input asp-for="Celular" class="form-control" maxlength="20"/>
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="far fa-envelope"></i>
                        <strong>Email institucional</strong><br>
                        <div class="input-group">
                            <input asp-for="CorreoInstitucional" class="form-control" value="@Model.CorreoInstitucional?.Split('@')[0]" />
                            <span asp-validation-for="CorreoInstitucional" class="text-danger"></span>
                            <select class="form-control" id="dominioSelector" name="dominioSelector">
                                <option value="@Html.Raw("@alumno.uvm.cl")">@Html.Raw("@alumno.uvm.cl")</option>
                            </select>
                        </div>
                    </p>
                    <p>
                        <i class="far fa-envelope-open"></i>
                        <strong>Email personal</strong><br>
                        <input asp-for="CorreoPersonal" class="form-control" minlength="3" maxlength="30" />
                        <span asp-validation-for="CorreoPersonal" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="far fa-calendar-alt"></i>
                        <strong>Fecha de nacimiento</strong><br>
                        <input asp-for="FechaNacimiento" type="date" class="form-control" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-3 linea-separadora linea-separadora-derecha">
                    <p>
                        <i class="far fa-calendar"></i>
                        <strong>Fecha de ingreso</strong><br>
                        <select asp-for="IngresoPiu" class="form-control" asp-items="@(ViewData["Anios"] as SelectList)"></select>
                        <span asp-validation-for="IngresoPiu" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="far fa-calendar"></i>
                        <strong>Fecha de egreso</strong><br>
                        <select asp-for="EgresoPiu" class="form-control" asp-items="@(ViewData["Anios"] as SelectList)"></select>
                        <span asp-validation-for="EgresoPiu" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="fas fa-graduation-cap"></i>
                        <strong>Carrera</strong><br>
                        <select asp-for="CarreraId" class="form-control" asp-items="ViewBag.CarreraId"></select>
                        <span asp-validation-for="CarreraId" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="fas fa-school"></i>
                        <strong>Campus</strong><br>
                        <select asp-for="CampusId" class="form-control" asp-items="ViewBag.CampusId"></select>
                        <span asp-validation-for="CampusId" class="text-danger"></span>
                    </p>
                    <p>
                        <i class="far fa-clock"></i>
                        <strong>Jornada</strong><br>
                        <select asp-for="JornadaId" class="form-control" asp-items="ViewBag.JornadaId"></select>
                        <span asp-validation-for="JornadaId" class="text-danger"></span>
                    </p>
                </div>
                <div class="col-md-2 text-right">
                    <button type="submit" value="Save" class="btn btn-secondary boton-lista">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function validarFechaNacimiento() {
            var fechaNacimiento = new Date(document.getElementById("FechaNacimiento").value);
            var fechaActual = new Date();
            var diferencia = fechaActual.getFullYear() - fechaNacimiento.getFullYear();
            if (diferencia < 10) {
                alert("La fecha de nacimiento debe ser anterior a 10 años de la fecha actual.");
                return false;
            }
            return true;
        }

        document.querySelector("form").addEventListener("submit", function (event) {
            if (!validarFechaNacimiento()) {
                event.preventDefault();
            }
        });
    </script>
}
