@model IEnumerable<PIU.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<div class="card-body">
    <div class="row">
        <div class="col-md-8">
            <h2>Estudiantes</h2>
        </div>
        <div class="col-nd-1 text-right">
            <div class="dropdown">
                <button class="btn btn-secondary boton-lista dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Elementos por página
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">30</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 text-right">
            <a class="btn btn-secondary" asp-action="Create">
                <i class="fas fa-user-plus" aria-hidden="true"></i>
                Añadir estudiante
            </a>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            @if (item.Foto != null)
                            {
                                <img src="~/@item.Foto" class="img-circle-index img-responsive">
                            }
                            else
                            {
                                <img src="~/img/Estudiante/FotoPerfil/default.png" class="img-circle-index img-responsive">
                            }
                        </div>
                        <div class="col-md-4">
                            <i class="fas fa-id-card"></i>
                            <strong>RUT</strong><br />
                            @if (item.Rut != null)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.Rut)
                                </p>
                            }
                            else
                            {
                                <p>
                                    El RUT no ha sido ingresado
                                </p>
                            }
                            <i class="fas fa-user"></i>
                            <strong>Nombre</strong><br />
                            @if (item.Nombre != null)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                                </p>
                            }
                            else
                            {
                                <p>
                                    El nombre no ha sido ingresado
                                </p>
                            }
                        </div>
                        <div class="col-md-5">
                            <i class="fas fa-school"></i>
                            <strong>Campus</strong><br />
                            @if (item.Campus != null)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.Campus.Nombre)
                                </p>
                            }
                            else
                            {
                                <p>
                                    El campus no ha sido ingresado
                                </p>
                            }
                            <i class="fas fa-graduation-cap"></i>
                            <strong>Carrera</strong><br />
                            @if (item.Carrera != null)
                            {
                                <p>
                                    @Html.DisplayFor(modelItem => item.Carrera.Nombre)
                                </p>
                            }
                            else
                            {
                                <p>
                                    La carrera no ha sido ingresada
                                </p>
                            }
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <div class="col-md-12 text-right">
                            <form asp-action="Agendar" asp-controller="Estudiantes" class="text-right" style="display:flex;" method="post">
                                <a>
                                    <input type="hidden" value="@item.Id" name="EstudianteId" />
                                    <input type="hidden" value="@item.Nombre" name="EstudianteNombre" />
                                    <input type="hidden" value="@item.ApellidoPaterno" name="EstudianteApellidoPaterno" />
                                    <input type="hidden" value="@item.ApellidoMaterno" name="EstudianteApellidoMaterno" />
                                    <input type="hidden" value="@item.Rut" name="EstudianteRut" />
                                    <button type="submit" class="btn btn-outline-success boton-lista" style="">
                                        <i class="fas fa-calendar" aria-hidden="true"></i>
                                        Agendar sesión
                                    </button>
                                </a>
                                <a class="btn btn-outline-info boton-lista" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="fas fa-eye" style="width: 20px; height: 20px;"></i>
                                    Ver detalles
                                </a>
                                <a class="btn btn-outline-danger boton-lista" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fas fa-trash" style="width: 20px; height: 20px;"></i>
                                    Eliminar
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
