@model IEnumerable<PIU.Models.Estudiante>

@{
    ViewData["Title"] = "Index";
}

<div class="card-body">
    <div class="row">
        <div class="col-md-8">
            <h2>Estudiantes</h2>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-secondary" asp-action="Create">
                <i class="fas fa-user-plus" aria-hidden="true"></i>
                Añadir estudiante
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
            <div class="row">
                <div class="col-md-2">
                    @if (item.Foto != null)
                    {
                        <img src="~/@item.Foto" class="img-circle img-responsive" style="height:110px">
                    }
                    else
                    {
                        <img src="~/img/Estudiante/FotoPerfil/default.png" class="img-circle img-responsive" style="height:110px">
                    }
                </div>
                <div class="col-md-4">
                    @if (item.Rut != null)
                    {
                        <p>
                            <strong>RUT</strong><br />
                            @Html.DisplayFor(modelItem => item.Rut)
                        </p>
                    }
                    else
                    {
                        <p>
                            <strong>RUT</strong><br />
                            El RUT no ha sido ingresado
                        </p>
                    }
                    @if (item.Nombre != null)
                    {
                        <p>
                            <strong>Nombre</strong><br />
                            @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                        </p>
                    }
                    else
                    {
                        <p>
                            <strong>Nombre</strong><br />
                            El nombre no ha sido ingresado
                        </p>
                    }
                </div>
                <div class="col-md-4">
                    @if (item.Campus != null)
                    {
                        <p>
                            <strong>Campus</strong><br />
                            @Html.DisplayFor(modelItem => item.Campus.Nombre)
                        </p>
                    }
                    else
                    {
                        <p>
                            <strong>Campus</strong><br />
                            El campus no ha sido ingresado
                        </p>
                    }
                    @if (item.Carrera != null)
                    {
                        <p>
                            <strong>Carrera</strong><br />
                            @Html.DisplayFor(modelItem => item.Carrera.Nombre)
                        </p>
                    }
                    else
                    {
                        <p>
                            <strong>Carrera</strong><br />
                            La carrera no ha sido ingresada
                        </p>
                    }
                </div>
                    <div class="col-md-1 text-right" style="display:grid;align-items: center;">

                    <a class="btn btn-outline-info boton-lista" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-eye" style="width: 20px;
                        height: 20px;"></i>
                    </a>
                    <a class="btn btn-outline-danger boton-lista" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash" style="width: 20px;
                        height: 20px;"></i>
                    </a>
                </div>
            </div>
    <br />
}
    </tbody>
</table>
