@model PIU.Models.Sesion

@{
    ViewData["Title"] = "Editar sesión";
}
@{
    var EstudianteId = Context.Session.GetInt32("EstudianteId");
    var EstudianteNombre = Context.Session.GetString("EstudianteNombre");
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 text-left">
                <a asp-action="Details" asp-controller="Sesions" asp-route-id="@Model.Id" class="btn btn-secondary boton-lista">
                    <i class="fas fa-arrow-left" aria-hidden="true"></i>
                    Volver
                </a>
            </div>
            <div class="col-md-8">
                <h3 class="titulo-card">Editar sesión</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit" asp-controller="Sesions" method="post">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <p>
                        <strong>Fecha</strong><br>
                        <input type="date" name="Fecha" value="@Model.Fecha?.ToString("yyyy-MM-dd")" class="form-control" />
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        <strong>Desde</strong><br>
                        <input type="time" name="HoraInicio" value="@Model.HoraInicio?.ToString("HH:mm")" class="form-control" />
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        <strong>Hasta</strong><br>
                        <input type="time" name="HoraTermino" value="@Model.HoraTermino?.ToString("HH:mm")" class="form-control" />
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        <strong>Modalidad</strong><br>
                        <!-- La modalidad puede ser editada -->
                        <input type="text" name="ViaContacto" value="@Model.ViaContacto" class="form-control" />
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        <strong>Presente</strong>
                        <style>

                        </style>
                        @if (Model.Asistio == false)
                        {
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="Asistio" value="true">
                                <label class="form-check-label"></label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="Asistio" value="true" checked>
                                <label class="form-check-label"></label>
                            </div>
                        }

                        <style>
                            /* Estilo para cuando el checkbox está marcado */
                            .form-check-input {
                            }
                            .form-check-input:checked + .form-check-label .checkmark {
                                background-color: green;
                            }

                            /* Estilo para el marcador de verificación */
                            .checkmark {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                width: 32px;
                                height: 32px;
                                border: 2px solid white;
                                background-color: transparent;
                                border: 2px solid white;
                                border-radius: 25%; /* Hacemos que el borde sea circular */
                                display: inline-block;
                            }

                                .checkmark::before {
                                    content: "";
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 29px; /* Ajustamos el ancho para incluir el borde */
                                    height: 29px; /* Ajustamos el alto para incluir el borde */
                                    border: 1px solid gray;
                                    border-radius: 25%; /* Hacemos que el borde sea circular */
                                }
                                /* Estilo para el check cuando está marcado */
                                .checkmark:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                    left: 8px; /* Ajustamos la posición del check dentro del círculo */
                                    top: 1px; /* Ajustamos la posición del check dentro del círculo */
                                    width: 12px; /* Ajustamos el tamaño del check */
                                    height: 22px; /* Ajustamos el tamaño del check */
                                    border: solid white;
                                    border-width: 0 4px 4px 0;
                                    transform: rotate(45deg);
                                }

                            /* Mostrar el check cuando el checkbox está marcado */
                            .form-check-input:checked + .form-check-label .checkmark:after {
                                display: block;
                            }
                        </style>

                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <table>
                    <tr>
                        <th>OBJETIVOS DE LA SESIÓN</th>
                    </tr>
                    <tr>
                        <!-- El objetivo de la sesión también debe ser editable -->
                        <td><textarea name="Objetivo" class="form-control">@Model.Objetivo</textarea></td>
                    </tr>
                </table>
                <div style="color:rgba(0,0,0,0)">----------------------</div>
                    <table>
                        <tr>
                            <th>ETAPA DE SESIÓN</th>
                            <th>DESCRIPCIÓN DE ACCIONES (PLANIFICACIÓN)</th>
                            <th>OBSERVACIONES SEGÚN ETAPA DE SESIÓN</th>
                        </tr>
                        <tr>
                            <td class="etapa-sesion">INICIO</td>
                            <td><textarea name="Objetivo" class="form-control">@Model.AccionInicio</textarea></td>
                            <td><textarea name="Objetivo" class="form-control">@Model.ObservacionInicio</textarea></td>
                        </tr>
                        <tr>
                            <td class="etapa-sesion">DESARROLLO</td>
                            <td><textarea name="Objetivo" class="form-control">@Model.AccionDesarrollo</textarea></td>
                            <td><textarea name="Objetivo" class="form-control">@Model.ObservacionDesarrollo</textarea></td>
                        </tr>
                        <tr>
                            <td class="etapa-sesion">CIERRE</td>
                            <td><textarea name="Objetivo" class="form-control">@Model.AccionCierre</textarea></td>
                            <td><textarea name="Objetivo" class="form-control">@Model.ObservacionCierre</textarea></td>
                        </tr>
                    </table>
                </div>

            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>