@model IEnumerable<PIU.Models.Sesion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacionInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacionDesarrollo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacionCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccionInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccionDesarrollo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccionCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asistio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacionInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacionDesarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacionCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccionInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccionDesarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccionCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asistio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
